<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800900581695-dr2aafka2m56ics2g11lgp89i0rl6q4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800900581695-dr2aafka2m56ics2g11lgp89i0rl6q4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhm2yjzlsE1ZBlUUxmUEjjUZDtd32Dy0</string>
	<key>GCM_SENDER_ID</key>
	<string>800900581695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbccompany.SeeMovies</string>
	<key>PROJECT_ID</key>
	<string>seemovies-6f453</string>
	<key>STORAGE_BUCKET</key>
	<string>seemovies-6f453.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800900581695:ios:a9478dd36d3c5325f76b8a</string>
</dict>
</plist>